/* --- */
/* all */
/* --- */
:root {
    --color-asosiy:linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    --color-hover: #30C88F;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contianer{
    max-width: 1150px;
    margin: 0 auto;
    padding:0 24px;
}
body{
    font-family: "Public Sans";
   
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* ----- */
/* header */
/* ----- */

header{
    /* position: relative; */
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: white;
    /* top: 0; */
    z-index: 10;
}
header .contianer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    vertical-align: middle;
    width: 138px;
    height: 20px;
}
.header-ul{
display: flex;
}
.header-a{
    display: inline-block;
    font-size: 14px;
line-height: 16px;
letter-spacing: -0.107692px;
color: #9597A5;
margin-left: 30px;
padding-bottom: 28px;
padding-top: 32px;
border-bottom: 4px solid transparent;
}
.header-a:hover{
    border-bottom: 4px solid var(--color-hover) ;
}
.header-link{
    display: inline-block;
    font-weight: 500;
font-size: 14px;
line-height: 28px;
color: #FFFFFF;
background: var(--color-asosiy);
padding: 8px 36px 8px 33px;
border-radius: 22px;
}
.link{
    background-color: white;
    border-radius: 22px;
    width: 163px;
}
.header-link:hover{
  
background: linear-gradient(135deg, rgba(51, 211, 94, 0.4) 0%, rgb(42, 182, 217, .4) 99.58%); 
}

.box{
    display: inline-block;
    width: 24px;
    height: 1px;
    background-color: black;
    position: relative;
    display: none;
}
.box::before{
    content: "";
    display: inline-block;
    width: 24px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: -4px;
}
.box::after{
    content: "";
    display: inline-block;
    width: 24px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 4px;
}
input{
    display: none;
}
input:checked + header .contianer .box{
  visibility: hidden;
} 
input:checked + header .contianer .box::after{
    visibility:visible;
    transform: rotate(45deg);
    top: 0;
  } 
  input:checked + header .contianer .box::before{
    visibility:visible;
    transform: rotate(-45deg);
    top: 0;
  } 

.nav{
    display: inline-block;
    padding: 32px 0;
    background: #FFFFFF;
    border-radius: 4px;
width: 327px;
text-align: center;
position: absolute;
top: 24px;
left: 50%;
transform: translatex(-50%);
}
.shadow{
    background: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);
    width: 100%;
    height: 100vh;
    position: absolute;
    position: fixed;
    top: 64px;
    left: 0s;
    transform: translateY(-100vh);
    transition: all .4s ease-in-out;
}
  .nav-a{
      display: inline-block;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.138462px;
    color: #2D314D;
    margin-bottom: 24px;
  }
/* ----- */
/* main1 */
/* ----- */
.phone-img{
    display: none;
}

.main1-color{
    background: #F2F2F2;
}

.main1{
    display: flex;
    align-items: center;
    justify-content: space-between;
/* margin-top: -80px; */
}
.main1-h1{
font-weight: 100;
font-size: 56px;
line-height: 64px;
width: 394px;
letter-spacing: -1px;

color: #2D314D;

}
.main1-p{
    font-weight: normal;
font-size: 18px;
line-height: 28px;
letter-spacing: -0.28125px;
width: 447px;
color: #9597A5;
margin-top: 24px;
margin-bottom: 36px;

}


/* ----- */
/* main2 */
/* ----- */

.main2{
    padding-top: 96px;
    padding-bottom: 94px;
    background: #F4F5F7;
    margin-top: -130px;
}
.main2top-h2{
    font-weight: 100;
font-size: 40px;
line-height: 64px;
width: 411px;
letter-spacing: -0.714286px;

color: #2D314D;
}
.main2top-p{
    font-size: 18px;
line-height: 28px;
letter-spacing: -0.28125px;
color: #9597A5;
max-width: 635px;
margin-top: 16px;
margin-bottom: 72px;
}
.main2bottom{
    display: flex;
    justify-content: space-between;
}

.main2sections::before{
content: "";
display: inline-block;
width: 72px;
height: 72px;
background-image: url(../img/Group\ 23.png);
background-size:contain ;
background-repeat: no-repeat;
margin-bottom: 40px;
}
.s3::before{
    content: "";
    display: inline-block;
    width: 72px;
    height: 72px;
    background-image: url(../img/Group\ 22.svg);
    background-size:contain ;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}
.s2::before{
    content: "";
    display: inline-block;
    width: 72px;
    height: 72px;
    background-image: url(../img/Group\ 21.svg);
    background-size:contain ;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}
.s1::before{
    content: "";
    display: inline-block;
    width: 72px;
    height: 72px;
    background-image: url(../img/Group\ 20.svg);
    background-size:contain ;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

.main2bottom-h3{
    font-weight: 100;
font-size: 24px;
line-height: 28px;
/* identical to box height, or 117% */
margin-bottom: 26px;
letter-spacing: -0.428571px;

color: #2D314D;
}
.main2bottom-p{
    font-size: 16px;
line-height: 26px;
/* or 162% */

letter-spacing: -0.25px;
max-width: 255px;
color: #9597A5;
}

/* ----- */
/* main3 */
/* ----- */

.main3{
    background: #F2F2F2;
    padding-top: 80px;
    padding-bottom: 80px;
}
.main3under{
    display: flex;
    justify-content: space-between;
}

.main3sections{
    background: #FFFFFF;
border-radius: 5px;

}
.main3sections div{
    padding: 0 24px 24px 24px ;
}
.main3-h2{
    font-weight: 100;
font-size: 40px;
line-height: 64px;
/* identical to box height, or 160% */

letter-spacing: -0.714286px;

color: #2D314D;
margin-bottom: 40px;
}
.main3p2{
    font-size: 10px;
line-height: 18px;
/* identical to box height, or 180% */

letter-spacing: -0.15625px;

color: #9597A5;
}
.main3-h3{
    font-weight: 100;
font-size: 16px;
line-height: 20px;
/* or 125% */
margin-top: 8px;
margin-bottom: 8px;
letter-spacing: -0.285714px;

color: #2D314D;
max-width: 207px;
}
.main3-h3:hover{
    color:var(--color-hover) ;
}
.main3-p{
    font-size: 13px;
line-height: 18px;
/* or 138% */

letter-spacing: -0.203125px;

color: #9597A5;
max-width: 207px;
}
.main3sections::before{
    content: "";
    display: inline-block;
    width: 255px;
    height: 200px;
    background-image: url(../img/Rectangle\ Copy\ 4\ \(1\).png);
    background-size:contain ;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}
.c2::before{
    content: "";
    display: inline-block;
    width: 255px;
    height: 200px;
    background-image: url(../img/Rectangle\ Copy\ 4.png);
    background-size:contain ;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}
.c3::before{
    content: "";
    display: inline-block;
    width: 255px;
    height: 200px;
    background-image: url(../img/Rectangle\ Copy\ 4\ \(2\).png);
    background-size:contain ;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}
.c4::before{
    content: "";
    display: inline-block;
    width: 255px;
    height: 200px;
    background-image: url(../img/Rectangle\ Copy\ 4\ \(3\).png);
    background-size:contain ;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}

/* ----- */
/* footer */
/* ----- */

footer{
    background: #2D314D;
    padding: 48px 0;
    
}
footer .contianer{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
svg:hover {
    color:var(--color-hover);
    
}
svg{
    color: white;
    margin-right: 13px;
}
.footer-logo{
    display: block;
    margin-bottom: 55px;
}
.footer-a{
    font-size: 15px;
    line-height: 26px;
    /* identical to box height, or 173% */
    
    letter-spacing: -0.234375px;
    margin-bottom: 12px;
    display: inline-block;
    color: #FFFFFF;
}
.foonter4{
    margin-left: 131px;
    margin-right: 131px;
}
.footer-a:hover{
    color: var(--color-hover);
}
.flex{
    display: flex;
   align-items: center;
}
.p{
    font-size: 15px;
line-height: 26px;
/* identical to box height, or 173% */

text-align: left;
letter-spacing: -0.234375px;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
margin-top: 24px;
width: 220px;
}
.l9{
    width: 220px;
    display: flex;
    justify-content: flex-end;
}


/* ----- */
/* madia */
/* ----- */
@media (max-width:376px) {
    .contianer{
        padding: 0 24px ;
    }
    header{
     width: 375px;
     height: 64px;
     padding: 22px 0;
   
     position: fixed;
     top: 0;
     left: 0;
    }
    .header-ul,.l3{
        display: none;
    }
    .box{
        display: inline-block;
    }
    .hero-img{
        display: none;
    }
   .main1-h1{
    font-weight: 100;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: -0.714286px;
    margin-top: 41px;
    margin-bottom: 16px;
    color: #2D314D;
width: 327px;    
   }
   .main1-p{
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    margin-top: 16px;
    margin-bottom: 32px;
    text-align: center;
    letter-spacing: -0.234375px;
    width: 327px;
    color: #9597A5;
   }
   .link{
       margin: 0 auto;
   }
   .main1-color{
       padding-bottom:88px ;
   }
   .main2{
       margin-top: 0;
       padding-top: 64px;
       padding-bottom: 64px;
   }
   .main2top-h2{
    font-weight: 100;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.571429px;
    width: 327px;
    color: #2D314D;
    margin-bottom: 14px;
   }
   .main2top-p{
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    margin-bottom: 56px;
    text-align: center;
    letter-spacing: -0.234375px;
    width: 327px;
    color: #9597A5;
    
   }
   .main2bottom{
       flex-direction: column;
       text-align: center;
   }
   .main2bottom-h3{
    font-weight: 100;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    
    text-align: center;
    letter-spacing: -0.357143px;
    margin-bottom: 16px;
    color: #2D314D;
   }
   .main2bottom-p{
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    margin: 0 auto;
    text-align: center;
    letter-spacing: -0.234375px;
    width: 327px;
    color: #9597A5;
   }
   .main2sections::before{
       margin-bottom: 24px;
   }
   .main2sections{
       margin-bottom: 32px;
   }
   .main3under{
   flex-direction: column;    
   }
   .main3sections::before{
       width: 327px;
       background-size:cover;
    
   }
   .main3-h3{
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    
    letter-spacing: -0.285714px;
    max-width: 265px;
    color: #2D314D;
    
   }
   .main3-p{
    font-size: 13px;
    line-height: 18px;
    /* or 138% */
    max-width: 265px;
    letter-spacing: -0.203125px;
    
    color: #9597A5;
   }
   .main3sections{
       margin-bottom: 24px;
   }
   .main3-h2{
       text-align: center;
       margin-bottom: 31px;
   }
   .flex{
       flex-direction: column;
       text-align: center;
   }
   footer .contianer{
       flex-direction: column;
       text-align: center;
   }
   .footer-logo{
        margin: 0 auto;
       margin-bottom: 32px;
   }
   .foonter4{
       margin-top: 32px;
     
   }
   .foonter3{
       margin-bottom: 32px;
   }
   .phone-img{
       display: inline-block;
   }
   input:checked ~ .shadow{
       transform: translateY(0);
   }
 
   .main3sections div{
       max-width: 327px;
   }
   }